* {
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  color: #3b3b3b;
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url('app://app/src/app/images/welcome-bg.jpg') center center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
}

a, a:visited, a:hover {
  color: blue;
  text-decoration: none;
}

#titlebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  background: #FCFCFC;
  padding: 7px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  .title {
    flex: 5;
    color: #3b3b3b;
    font-weight: bold;
  }
  .buttons {
    flex: 1;
    text-align: right;
    a {
      -webkit-app-region: no-drag;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

#windowControlMinimize {
  opacity: 0;
  background: #87D37C;
  -webkit-animation: fade-down 1s linear forwards;
}
#windowControlMaximize {
  opacity: 0;
  background: #F4B350;
  -webkit-animation: fade-down 1s linear 200ms forwards;
}
#windowControlClose {
  opacity: 0;
  background: #EF4836;
  -webkit-animation: fade-down 1s linear 400ms forwards;
}

#welcome {
  text-align: center;
  .app-name {
    color: white;
    text-shadow: 1px 1px 0px rgba(black, 0.2);
    font-size: 50px;
    margin-top: 30%;
  }
  .image-copyright {
    color: rgba(white, .5);
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 5px;
    cursor: default;
    -webkit-user-select: none;
  }
}
